
@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400;1,700&family=Quicksand:wght@300;500;700&family=Roboto&family=Roboto+Condensed:wght@300;400&family=Roboto+Flex:wght@500&display=swap');

:root{
    --main-color:#ACD44C;
    --text-color:#fff;
    --bg-color:#1e1c2a;
    --big-font:5rem;
    --h2-font:2.25rem;
    --p-font:0.9rem;
}
*{
    padding: 0;
    margin: 0;    
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
body::before {
    content: "";
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    }
body{
    color: var(--text-color);
    background-image: url(fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}
::-webkit-scrollbar {
    display: none;
}
.sidebar {
    position: fixed;
    left: 0;
    padding-top: 10px;
    width: 70px;
    height: 30vh;
    background-color: #81A037;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100%;    
    /*justify-content: space-between;*/
    border-radius: 0 0 24px 0;
}

.sidebar a{
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-family: 'Poltawski Nowy', serif;  
}
.logo-sab{
    color:var(--text-color);
    font-weight:600;
    font-size: 4.2vh;
    letter-spacing: -17px;
    padding-bottom: 10px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%;
}
.icon i {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 103px;
    transition: background-color 0.5s ease-in-out;
    /*background-color: var(--bg-color);*/
}
header.scrolled {
    
    background-color: transparent;
    backdrop-filter: blur(5px);
    padding-bottom: 0;
    left: 72px;
    padding: 30px 175px 15px 31px;
}
.logo{
    color:var(--text-color);
    font-weight:600;
    font-size: 2.4rem;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
}
.navbar a:hover{
    color: var(--main-color);
    transition: .4s;
}



form{
    display: flex;
}
input[type="text"] {
    padding: 5px;
    width: 350px;
    background-color: gray;
    opacity: 50%;
    color: black;
    margin-right: 5px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}


button[type="submit"] {
    padding: 5px 5px;
    background-color: #81A037;
    width: 7%;
    justify-content: center;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    cursor: pointer;
}
input::placeholder {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    font-size: 13px;
}

.icons a i{
    margin: 10px;
    color:white;
}
.icons a:hover i{
    color: var(--main-color);
    transition: .4s;
}

#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.button_ingresar{
    display: flex;
    width: 100px;
    height: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}
.button_ingresar:hover{
    color: var(--main-color);
    border-color: var(--main-color);
    transition: .4s;
}
section{
    padding: 85px 7%;
}
.home{
    width: 100%;
    min-height: 94vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3.5rem;
    align-items: center;
}
.home-two {
    padding-top: 15px;
}
.home-img img{
    max-width: 100%;
    width: 100% ;
    height: auto;
}

.home-text h1{
    /*font-size: var(--big-font);*/
    font-size: 320%;
    color: var(--main-color);
    padding-top: 28px; 
}
.home-text p{
    /*font-size: var(--h2-font);*/
    font-size: 140%;    
    margin: 1rem 0 1rem;
    line-height: 1.5;
    font-weight: 200;
}
.home-two .button{
    text-align: center;
    margin-bottom: 45px;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background: #81A037;
    color: #fff;
    border-radius: 1.3rem;
}

.btn:hover{
    transform: scale(1.2) translateY(10px);
    transition: .4s;
}

.fruit:hover{
    transform: scale(1.1) translateY(8px);
    transition: .4s;
}
/***** line fruits ******/

.container-f{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(87px, auto));
    grid-gap: 1.5rem;
}

.box-i {
    display: flex;
    position: relative;
    /*margin-top: 4rem;*/
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background: #feeee7;*/
    padding: 15px;
    border-radius: 1.25rem;
}
.color-banana{
    background: rgba(196, 220, 220, 0.72);
}
.color-apple{
    background: rgba(255, 205, 121, 0.73);
}
.color-orange{
    background: rgba(248, 223, 183, 0.73);
}

.box-img-i{
    width: 90px;
    height: 90px;
}
.box-img-i img{
    width: 100%;
    height: 100%;
}
.box-i h2{
    font-size: 1.3rem;
    color: var(--bg-color);
}
.box-i h3{
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 4px 0 7px;
}

.box-i span{
    font-size: 1rem;
    color: black;
    font-weight: 500;
}

.box-i a i{
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    right: 0;
    bottom: 0;
    font-size: 18px;
    padding: 20px 10px;
    color: #81A037;
    border-radius: 1.25rem 3px 1.25rem 3px;
}
/******About us ******/

.about{
    display:grid; 
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    padding-top: 200px;
    padding-bottom: 117px;
    align-items: center;
    justify-items: center;
    background: rgba(0, 0, 0, 0);
    background-size: 70px 10px;
}

/*.about-img{
    max-width: 100%;
    width: 480px;
    height: auto;
}*/
.about-img img{
    max-width: 100%;
    width: 100% ;
    height: auto;
}
.about-text {
    padding-right: 30px;
    
}
.about-text span{
    color: var(--main-color);
    font-weight: 600;
    font-size: 150%;
    
}
.about-text h2{
    font-size: var(--h2-font);
    font-size: 250%;
    /*text-align: justify;*/
}
.about-text p{    
    margin: 0.8rem 0 1.8rem;
    font-size: 130%;
    line-height: 1.5;
    font-weight: 200;
}

/****** Menú ******/

.heading{
    text-align: center;
}

.heading span{
    color: var(--main-color);
    font-size: 150%;
    font-weight: 600;
}

.heading h2{
    font-size: var(--h2-font);
}

.menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 1.5rem;
    /*align-items: center;*/
}

.box{
    display: flex;
    position: relative;
    margin-top: 4rem;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #feeee7;
    padding: 20px;
    border-radius: 1.25rem;
}

.box-img{
    width: 220px;
    height: 220px;
}
.box-img img{
    width: 100%;
    height: 100%;
}
.box h2{
    font-size: 1.4rem;
    color: var(--bg-color);
}
.box h3{
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 4px 0 7px;
}

.box span{
    font-size: var(--p-font);
    color: var(--main-color);
    font-weight: 600;
}

.box a i{
    margin: 10px;
    font-size: 200%;
    color: #81A037;
    
}
.box a:hover i{    
    color:var(--main-color);
    transition: .4s;
}

.box .bx{
    background: var(--main-color);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    padding: 7px 10px;
    border-radius: 0 0.5rem 0 0.5rem;
}

/****** service start *****/

.service-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 1.5rem;
    /*align-items: center;*/
}
.s-box{
    display: flex;
    position: relative;
    margin-top: 4rem;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(241, 215, 193,0.2);
    padding: 20px;
    border-radius: 1.25rem;
    
}
.s-box h3{
    color: var(--main-color);
    font-size: 1.4rem;
    width: 220px;
    text-align: center;
    /*font-weight: 400;*/
    margin: 10px 0 7px;
}
.contact{
    background: black;
    padding: 51px 70px;
    margin: 20px 80px;    
    text-align: center;
    border-radius: 20px;
}

.contact h2{
    margin-bottom: 20px;
}

@media (max-width: 1055px){
    #home{
    display: block;
    align-content: center;
    }
    .home-img img {
    max-width: 70%;
    width: 6 0%;
    height: auto;
    }
    .home-img{
    text-align:center;
    align-content: center;
    }
    .home-two{
        text-align: center;
    }

    #about{
        display: block;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 20px;
    }
    .about-text{
        padding-bottom: 48px;
    }
    .about-img img {
        max-width: 70%;
        width: 70%;
        height: auto;
    }
    
}